<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<button id="addDiv" onclick="createDiv()">
    {{name}}
</button>
<div id="homework-container">
    {{> "./dnd-content.hbs"}}
</div>
</body>
</html>
